*{
    margin: 0;
    padding: 0;
}
body {
   
    padding: 20px;
    font-family: Arial;
    min-height: 100vh;
    background-image: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, rgb(0, 188, 212) 100%);
}
  
/* navgiation bar start */
/* .Wrapper{
    background-color: darkgray;
    
} */
.Wrapper{
    opacity: 1;
}

.btn{
    background-color:transparent;
    color:white;
    cursor: pointer;
    border: none;
    font-size: 20px;
    
}
.btn:hover{
    
    font-size: 30px;
}
.nav_h1{
    text-align: center;
}
.log_signup{
    display: flex;
    justify-content: flex-end;

    
}

.nav_logo{
    display: inline-block;
   
}
.nav_logo img{
    width: 100px;
    height: 100px; 
    border-radius: 50%;
}
.nav_links{
    display: inline-block;
    padding: 0px 20px ;
    border-radius: 40%;
    margin: auto;
}
.nav_links input{
    font-size: 2vw;
    background-color: rgb(199, 136, 53);
    margin: 10px;
 padding: 0px 20px ;
    
}


.search_bar{
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 50%;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}
#search_prod{
    width: 100%;
   padding: 10px;
    
}


/* .log-btn, .logout-btn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    
    right: 28px;
    width: 180px;
    top: 0px;
  } */
  .login, .logout_btn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }
  .log_signup{
    position: absolute;
    top: 100px;
    left: 72%;
  }
  .login_name{
    position: absolute;
    top: 9%;
    left: 70%;
    color: white;
    font-size: 30px;

  }
#myForm{
    position: fixed;
    width: 55%;
    margin: auto;
    
  
    z-index: 2;
    top: 55%;
   
    left: 80%;
    transform: translate(-50%, -50%) scale(0);

    

      /* display: none; */
}
.icon{
    width:100px;
    position: absolute;
    height: 100px;
    top:-50px;

    left: calc(50% - 50px);
}
.form-container{
    
    width: 90%;
    margin: auto;
    width: 580px;
    height: 450px;
    color: #fff;
    background: #000;
    top: 50%;
    /* left:60%; */
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding : 70px 30px;
  
    
}
h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.username{
    margin:0;
    padding:0;
    font-weight:bold;

}
.form-container input{
    width:100%;
    margin-bottom:20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff; 
    font-size: 16px;
}
/* .username, .password{
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
} */
.form-container h1{
    text-align: center;
    padding: 20px;
}
.form-container button{
    border:none;
    outline: none;
    height:40px;
    background: rgb(51, 141, 177);
    color: #fff;
    font-size: 18px;
    border-radius: 20px ;
    width:100%;
    /* padding:80px; */
}
.form-container button:hover{
    cursor: pointer;
    background: red;
    color:#000;
}
.loging_first{
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    background: white;
    padding: 10px 20px;
    border-radius: 30px;
    animation: .1s linear 1s 4.9 alternate slidein;
}
.form-container 
    /* width: 90px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 10px; */
    
 
/* .username{
          
    padding:0.5rem;
    font-size: 1rem;
    border: 3px solid lightblue;
}
.password{
          
    padding:0.5rem;
    font-size: 1rem;
    border: 3px solid lightblue;
} */
.login_btn, .login_btn_cancel{
    text-align: center;
}

/* login form */
 /* #myForm{
    position: fixed;
    width: 50%;
    margin: auto;
    background: azure;
    display: none; 
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}
.form-container{
    
    width: 70%;
    margin: auto;
  
    
}
.form-container h1{
    text-align: center;
    padding: 20px;
}
.form-container button{
    width: 90px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.username{
          
    padding:0.5rem;
    font-size: 1rem;
    border: 3px solid lightblue;
}
.password{
          
    padding:0.5rem;
    font-size: 1rem;
    border: 3px solid lightblue;
}
.login_btn{
    text-align: center;
}

@keyframes slidein {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
  }  */


/* image product starts */
.product_img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    text-align: center;

    width: 80%;
margin: auto;
    
}
.product_img img{
    
        width: 72%;
        height: 230px;
        margin: auto;
        margin-top: 20px;


}
.img_grid{
    display: grid;
    grid-template-columns: auto;
    background: white;
    margin-top: 30px;
    border-radius: 50px;


}
.add_cart{
    margin: auto;
    width: 60%;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 30px;
}
/* footer section */
footer{
    text-align: center;
    margin-top: 10px;
    font-size: x-large;
    font-weight: bold;
}

/* cart section start */
.cart_icon {
    position: absolute;
    top: 108px;
    left: 90%;
}
.cart_icon button{
    background: transparent;
}
.item_counter{
    position: relative;
    top: -30px;
    font-size: x-large;
    color: darkred;
}
/* cart product list */
.list_cart{
    position: absolute;
    top: 10%;
    right: 20%;
    background-color: white;
    width: 60%;
    min-height: 100%;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
    max-height: 500px;
    overflow: scroll;
    z-index: 1;
    visibility: hidden;
}
.list_cart h1{
    text-align: center;
    margin-top: 20px;
  
}
.cart_prod_inline{
margin-top: 60px;
}
.cart_prod{
    display: inline-block;
    width: 50%;
    text-align: center;    
}
.cart_add_remove{
    display: inline-block;
    margin: 20px;
}
.close_cart_icon{

    position: absolute;
    right: 2%;
    top: 22px;
    background: transparent;
}
table{
    width: 80%;
    font-size: 25px;
    margin-left: 70px;
    margin-bottom: 30px;
}
tr,table {
    border: 1px solid black;
    border-collapse: collapse;
  }
  .total_price{
      margin-top: 40px;
  }
  .total_price h3 {
display: inline-block;

  }
  /* SCROLL TOP BTN */

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 5px ghostwhite;
}

/* #myBtn:hover {
    background-color: #555;
  } */

  #myBtn:active {
    
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

